.user {
  padding: 4.375rem 0 12.5rem 0;

  color:white;
  background: url('~images/content/numbers-dark.jpg') center center / cover no-repeat;
  display: flex;
  justify-content: center;
}

.user__avatar {
  display: block;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
}
.user__info {
  display: flex;
}

