.button {
  border: none;
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  background: linear-gradient(to right, #ed7f00, #f29400);
  padding: 33px 120px;

  &:hover {
    background: linear-gradient(to right, #ed7f00, #ff9d00);
  }
}