.socials {
  display: flex;
}
.socials__item {
  margin-right: 2vw;
  &:last-child {
    margin-right: 0;
  }
  @include tablets {
    margin-right: 7vw;
  }
}

.socials__link {
  display: block;
  color: #656668;
  &:hover {
    color: $hover-color;
  }
  &:active {
    color: $active-color;
  }
}
.socials__icon {
  width: 25px;
  height: 25px;
  fill: currentColor;

  transition: fill .2s;
}
