.works {
  padding: 100px 0;
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .section-title {
    margin-bottom: 90px;

    @include desktop {
      margin-bottom: 60px;
    }
  }
}